html {
  scroll-behavior: smooth;
}
body {
  font-family: "Merriweather Sans", sans-serif;
}
#tittle {
  background-color: #e4f9f5;
}
.navbar {
  padding: 2% 5% 5% 4%;
  font-family: "Montserrat", sans-serif;
}
.container-fluid {
  padding: 180px 50px;
}
h1 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  color: #66bfbf;
  font-weight: normal;
  font-size: 1rem;
}
h3 {
  color: #11999e;
}
.name-text {
  /* padding-top: 10%; */
  text-align: center;
  font-size: 3rem;
}
.desc-text {
  text-align: center;
}
.self-img {
  display: block;
  margin: 0 auto;
  /* width: 60%; */
}
.content-1 {
  text-align: center;
  margin: 50px auto;
  width: 50%;
}
.AVA-IMG {
  width: 40%;
  border-radius: 50%;
}
.text-1 {
  line-height: 2;
  text-align: center;
}
.hello-text {
  padding-top: 20px;
}
.skills-text {
  padding-bottom: 50px;
}
.graphic-design {
  padding-bottom: 30px;
}
